@import "~normalize.css/normalize.css";
@import "fonts.pcss";

body {
    background-color: var(--paletteColor6);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}