@import "normalize.css";
@import "fonts.css";
@import "media.css";
@import "palette.css";

@custom-media --narrow-window (max-width: 30em);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --mainColor: rgba(28, 28, 28, 0.9);
}

body {
  display: grid;
  background-image: url("../img/image.png");
/*   background-image: linear-gradient(
    to bottom,
    hsla(330, 100%, 45%, 1),
    ease-in-out,
    hsla(210, 100%, 45%, 1)
  ); */
  background-repeat: no-repeat;
  animation: aaa 2s ease;

  @media (--narrow-window) {
    background-color: red;
  }
  @media (--desktopS) {
    background-color: blue;
  }
}

@keyframes aaa {
  from {
  }
  to {
  }
}

.wrapper {
  & h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 128px;
    font-smoothing: antialiased;
    color: var(--mainColor);
  }
  & h2 {
    font-family: "Raleway", sans-serif;
  }
  & h3 {
    font-family: "Raleway", sans-serif;
  }
}

.404 {
  color: red;
}
